@media screen and (min-width: 1200px) {
    
    /*Latest posts*/
    .posts {
        width: 270px;
    }


    /*Categories*/
    .categ__box {
        width: 270px;
    }


    /*Popular New Most commented*/
    .popular__posts,
    .most__commented {
        width: 300px;
    }
    .popular__box,
    .mostComment__box {
        width: 300px;
    }
    
}