@media screen and (min-width: 1365px) {
    
    /*Main menu*/
    .navig__menu__left ul,
    .navig__menu__right ul {
        width: 450px;
    }
    
    
    /*Latest posts*/
    .latest__posts,
    .categ__main {
        max-width: 1520px;
        margin: auto;
    }
    .posts {
        width: 300px;
        margin: 20px 40px;
    }


    /*Categories*/
    .categ__box {
        width: 300px;
        margin: 20px 40px;
    }


    /*Popular New Most commented*/
    .popular__posts,
    .most__commented {
        width: 335px;
    }
    .popular__box,
    .mostComment__box {
        width: 335px;
    }
    
}