@media screen and (min-width: 480px) {
    
    /*Wrapper*/
    .wrapper {
        max-width: 639px;
    }
    
    
    /*Latest posts*/
    .latest__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .posts {
        width: 270px;
        margin: 20px 10px;
    }
    
    
    /*Only post*/
    .post,
    .post__comments {
        width: 450px;
    }
    .post img {
        width: 436px;
    }
    .post__comments textarea {
        width: 444px;
    }
    
    
    /*Сontact page*/
    .contact {
        width: 450px;
    }
    .contact__info {
        margin: 0 35px;
        padding: 50px 0 40px 0;
    }
    .contact__info h2 {
        margin-bottom: 30px;
    }
    .contact__form {
        margin: 0 35px;
        padding: 40px 0 50px 0;
    }
    .contact__form > input,
    .contact__form > textarea {
        padding: 15px 25px 15px 25px;
        width: 330px;
        margin-bottom: 20px;
    }
    
    
    /*Categories*/
    .categ__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .categ__box {
        width: 270px;
        margin: 20px 10px;
    }
    
    
    /*Popular New Most commented*/
    .popularNews__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .popular__posts,
    .most__commented {
        width: 270px;
    }
    .popular__box,
    .mostComment__box {
        width: 270px;
    }
    
    
    /*Subscribe*/
    .subscribe {
        width: 100%;
    }
    
}