@media screen and (min-width: 480px) {
    
    /*Wrapper*/
    .wrapper {
        max-width: 639px;
    }
    
    
    /*Latest posts*/
    .latest__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .posts {
        width: 270px;
        margin: 20px 10px;
    }
    
    
    /*Only post*/
    .post,
    .post__comments {
        width: 450px;
    }
    .post img {
        width: 436px;
    }
    .post__comments textarea {
        width: 444px;
    }
    
    
    /*Categories*/
    .categ__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .categ__box {
        width: 270px;
        margin: 20px 10px;
    }
    
    
    /*Popular New Most commented*/
    .popularNews__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .popular__posts,
    .most__commented {
        width: 270px;
    }
    .popular__box,
    .mostComment__box {
        width: 270px;
    }
    
    
    /*Subscribe*/
    .subscribe {
        width: 100%;
    }
    
}