@media screen and (min-width: 768px) {
    
    /*Slider*/
    .slider_box {
        width: 700px;
    }
    .slider_box > nav > section {
        width: 500px;
        margin: 0 100px;
        height: 230px;
    }
    .slider_box img {
        width: 250px;
        height: 230px;
    }
    .slider_box article {
        margin: 20px 10px;
    }
    .slider_box article > p {
        margin: 15px 0;
    }
    
    
    /*Wrapper*/
    .wrapper {
        max-width: 991px;
    }
    
    
    /*Latest posts*/
    .posts {
        width: 280px;
    }
    
    
    /*Only post*/
    .post,
    .post__comments {
        width: 738px;
    }
    .post img {
        width: 355px;
        margin-right: 17px;
    }
    .post__comments textarea {
        width: 732px;
    }
    .post > time {
        padding: 50px 50px 0 50px;
    }
    .post > h3 {
        margin: 20px 50px 20px 50px;
    }
    .post__content {
        margin: 0px 50px 0 50px;
    }
    .comments {
        margin: 48px 50px 0 50px;
    }
    .comments div {
        margin: 7px 50px 14px 50px;
    }
    .post > .hashtag {
        margin: 0 50px;
    }
    
    
    /*Categories*/
    .categ__box {
        width: 280px;
    }


    /*Popular New Most commented*/
    .popular__posts,
    .most__commented {
        width: 280px;
    }
    .popular__box,
    .mostComment__box {
        width: 280px;
    }
    
}