@media screen and (min-width: 992px) {
    
    /*Main menu*/
    .navig__menu__left,
    .navig__menu__right {
        display: block;
        position: absolute;
    }
    .navig__menu__left ul,
    .navig__menu__right ul {
        display: flex;
        justify-content: space-around;
        width: 400px;
    }
    .navig__menu__left {
        left: 0px;
        top: 33px;
    }
    .navig__menu__right {
        right: 0px;
        top: 33px;
    }
    .navig__menu__left a,
    .navig__menu__right a {
        color: #FFF;
    }
    
    
    
    /*Small navigation menu*/
    .small__menu {
        display: none;
    }
    
    
    /*Slider*/
    .slider_box {
        width: 900px;
    }
    .slider_box > nav > section {
        width: 700px;
        margin: 0 100px;
    }
    .slider_box img {
        width: 300px;
    }
    .slider_box article {
        margin: 40px 25px;
    }
    .slider_box article > p {
        margin: 25px 0;
    }
    
    /*Wrapper*/
    .wrapper {
        max-width: 10000px;
    }
    
    
    /*Latest posts*/
    .posts {
        width: 280px;
        margin: 20px 30px;
    }
    
    
    /*Only post*/
    .post,
    .post__comments {
        width: 950px;
    }
    .post img {
        width: 475px;
    }
    .post__comments textarea {
        width: 944px;
    }
    .post > time {
        padding: 50px 80px 0 80px;
    }
    .post > h3 {
        margin: 20px 80px 20px 80px;
    }
    .post__content {
        margin: 0px 80px 0 80px;
    }
    .post__comments button {
        margin: 7px 80px 20px 0;
    }
    .comments {
        margin: 48px 80px 0 80px;
    }
    .comments div {
        margin: 7px 80px 14px 80px;
    }
    .post > .hashtag {
        margin: 0 80px;
    }


    /*Categories*/
    .categ__box {
        width: 280px;
        margin: 20px 30px;
    }


    /*Popular New Most commented*/
    .popularNews__posts {
        text-align: left;
    }
    .popular__posts,
    .most__commented {
        width: 280px;
    }
    .popular__box,
    .mostComment__box {
        width: 280px;
    }
    
}