@font-face {
    font-family: 'Intro';
    src: url(../fonts/intro-cond.black-free.otf);
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
a {
    text-decoration: none;
}
body {
    background: #f5f5f5;
}
h1 {
    color: #fff;
    font-family: 'Intro';
    font-size: 28px;
}
h2 {
    color: #000;
    font-family: "OpenSans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    color: #000;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.fonts_content {
    color: #777;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
}


/*Head*/
.head .top {
    background: url(../img/bgTopMenu.png) no-repeat 50% 50%;     
    background-size: cover;
}
.head h1 {
    text-align: center;
    padding: 26px 0 27px;
}


/*Slider*/
.slider {
    display: none;
    margin: 50px 0 0 0;
}
.slider * {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.slider_box > nav > section {
    float: left;
    display: flex;
    justify-content: flex-start;
    height: 260px;
    background: darkred;
    border: 0px solid #000;
    border-radius: 12px;
}
.slider_box article {
    text-align: center;
    margin: 40px 25px;
}
.slider_box article > p {
    line-height: 25px;
    margin: 25px 0;
}
.slider_box article > button {
    border: 2px solid #2d8cd3;
    text-align: center;
    font: 12px "OpenSans", sans-serif;
}
.slider_box button a {
    color: #2d8cd3;
}
.slider_box a {
    padding: 12px 18px;
    display: block;
}
.slider_box img {
    width: 300px;
    height: 260px;
    border: 0px solid #000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.slider_box > nav {
    overflow: hidden;
    width: 1000%;
}
.slider_box {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 700px;
}
.nav_slider > div {
    background: #fff;
    color: #65ade3;
    border: 0px solid #000;
    border-radius: 100%;
    width: 47px;
    height: 50px;
}
.nav_slider > div > i {
    vertical-align: -24px;
}
.left_nav {
    text-align: right;
    float: left;
    margin: 0 0 0 -17px;
}
.left_nav > i {
    margin: 0 7px 0 0;
}
.right_nav {
    text-align: left;
    float: right;
    margin: 0 -17px 0 0;
}
.right_nav > i {
    margin: 0 0 0 7px;
}
.nav_slider {
    overflow: hidden;
    position: relative;
    top: -157px;
}


/*Main menu*/
.navig__menu__left,
.navig__menu__right {
    display: none;
}


/*Small navigation menu*/
.small__menu {
    border-bottom: 5px double #cfcfcf;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    overflow: hidden;
}
.small__menu i {
    width: 100%;
}
#smallMenuBtn {
    margin: 0 0 5px 0;
}
#smallMenuBtnBottom {
    margin: 5px 0 0 0;
}
#smallMenuBtn:hover,
#smallMenuBtnBottom:hover {
    cursor: pointer;
}
.small__menu__nav {
    margin: 5px 0 0 0;
}
.small__menu__nav a {
    font: 16px "OpenSans", sans-serif;
}
.small__menu__nav li {
    padding: 5px 0;
}


/*Wrapper*/
.wrapper {
    margin-top: 100px;
    position: relative;
    z-index: 1;
}


/*Demarcation*/
.demarcation {
    border-bottom: 1px solid #cfcfcf;   
    margin: 0px 0 43px;
    text-align: center;
    padding: 35px 0 0;
}
.demarcation h3 {
    margin: 0 0 -22px;
}
.demarcation h3 a {
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 40px;
    background: #f5f5f5;
    display: block;
    width: 150px;
    padding: 15px 0;
    margin: auto;
}


/*Latest posts*/
.posts {
    border: 2px solid #dcdcdc;
    border-radius: 12px;
    margin: 10px auto;
    width: 270px;
    background: #FFF;
}
.posts > img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.posts > a {
    width: 188px;
    display: block;
    color: #fff;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: #1c8ee3;
    border-radius: 40px;
    padding: 12px 0;
    margin: -24px auto 0;
    position: relative;
}
.posts > a:hover {
    text-decoration: none;
}
.posts > img {
    max-height: 179px;
}
.posts__content > p {
    margin-top: 20px;
    text-align: center;
}
.posts__content {
    margin: 30px 10px 40px;
    line-height: 20px;
}
.posts__content > h3 {
    text-align: center;
    margin: 0 5px;
}
.posts__btnLeft,
.posts__btnRight {
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
    width: 50%;
    float: left;
    text-align: center;
}
.posts__btnLeft {
    border-right: 1px solid #eaeaea;
}
.posts__btnLeft img, 
.posts__btnRight img {
    width: 20px;
    margin: 10px 0 10px;
}


/*Only post*/
.post,
.post__comments {
    position: relative;
    width: 280px;
    margin: auto;
    background: #FFF;
}
.post > a {
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 7px;
    color: #FFF;
    background: #1c8ee3;
    border: 0px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.post img {
    width: 266px;
}
.post > time {
    display: block;
    padding: 50px 7px 0 7px;
    color: rgba(0,0,0,0.3);
}
.post > h3 {
    margin: 20px 7px 20px 7px;
}
.post__content {
    margin: 0px 7px 0 7px;
    padding: 20px 0 0 0;
    border-top: 2px solid #cfcfcf;
    line-height: 22px;
}
.post__content > p {
    margin-bottom: 10px;
    color: #333;
}
.post > .hashtag {
    color: rgba(0,0,0,0.3);
    margin: 0 7px;
    padding-bottom: 20px;
}
.post > .hashtag > span {
    margin-right: 5px;
}
.post__comments {
    margin: 30px auto;
}
.post__comments textarea {
    width: 274px;
}
.post__comments button {
    float: right;
    margin: 7px 7px 20px 0;
    padding: 5px;
}
.amount__comments {
    display: block;
    background: url(/src/img/bgTopMenu.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 10px 0 10px 7px;
    color: #FFF;
}
.comments {
    border-top: 2px solid #cfcfcf;
    margin: 48px 7px 0 7px;
    color: #333;
}
.comments i {
    margin-right: 7px;
}
.comments div {
    margin: 7px 7px 14px 7px;
    padding-bottom: 26px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.comments > div > .date {
    position: absolute;
    bottom: 0px;
    left: 40px;
    color: rgba(0,0,0,0.3);
}


/*Сontact page*/
.contact {
    width: 280px;
    margin: auto;
    background: #FFF;
}
.contact__info {
    margin: 0 20px;
    padding: 40px 0 35px 0;
    line-height: 25px;
    border-bottom: 2px solid #cfcfcf;
}
.contact__info h2 {
    margin-bottom: 25px;
}
.contact__form {
    margin: 0 20px;
    padding: 35px 0 40px 0;
}
.contact__form > input,
.contact__form > textarea {
    border: 0px solid #FFF;
    background: #f5f5f5;
    padding: 15px 20px 15px 20px;
    width: 200px;
    margin-bottom: 20px;
}
.contact__form > button {
    padding: 5px;
}


/*Navigation page*/
.navigation__page {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}
.navigation__buttonPage > input {
    width: 50px;
    margin: 0 10px;
    padding: 10px 0;
}
.navigation__first > input,
.navigation__latest > input {
    width: 100px;
    padding: 10px 0;
}
.navigation__buttonActive {
    background: rgb(28,142,227);
}
.navigation__page input:hover {
    background: rgba(28,142,227,0.5);
}


/*Categories*/  
.categories {
    margin: 50px 0;
    background: url(../img/bgBox.png) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    z-index: -2;
}
.categ__box:last-child {
    padding-bottom: 25px;
}
.categ__box {
    margin: 10px auto;
    width: 270px;
}
.categ__box img {
    position: relative;
    z-index: -1;
    height: 200px;
    width: 100%;
    border-radius: 12px;
}
.categ__box__name h2 {
    color: #fff;
    float: right;
    margin: -40px 20px 0 0;
}


/*Popular New Most commented*/
.popularNews__posts {
    text-align: center;
}
.popular__posts,
.most__commented {
    margin: 50px auto;
}
.bound {
    border: 1px solid #cfcfcf;
    margin: 12px 0 17px;
}
.popular__box,
.mostComment__box {
    margin: 0 auto 30px;
    width: 270px;
}
.popular__box p,
.mostComment__box p {
    line-height: 20px;
    color: #000;
    font-weight: bold;
    margin: 0 0 12px;
}
.date {
    color: #6c6c6c;
    font-style: italic;
}


/*Subscribe*/
.subscribe {
    margin: 50px 0;
    background: url(../img/bgBox.png) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
}
.subscribe p {
    color: #fff;
    font: bold 16px "OpenSans", sans-serif;
    text-align: center;
    padding-top: 15px;
    margin: 0 0 10px;
}
.subscribe input[type="text"] {
    border: 0px solid #000;
    border-radius: 12px;
    padding: 7px 0 7px 7px;
    font-style: italic;
}
.subscribe input[type="button"] {
    background: #308aa9;
    color: #fff;
    font: bold 12px "OpenSans", sans-serif;
    border: 0px solid #000;
    border-radius: 12px;
    padding: 7px;
    margin: 10px 0 15px;
}


/*Footer*/
.footer {
    text-align: center;
    color: #777;
}
.footer p:first-child {
    font-family: "Intro";
    font-size: 28px;
}
.footer > .demarcation h3 {
    margin: 0 0 -16px;
}
.footer > .demarcation a {
    padding: 0;
}
.footer > .demarcation i {
    color: #cfcfcf;
    vertical-align: -5px;
}


/*Admin panel*/
/*Admin head*/
.admin__head {
    display: none;
}
.admin__block {
    border: 2px solid #cfcfcf;
    border-radius: 25px;
    text-align: center;
    max-width: 1280px;
    margin: 40px auto;
    overflow: hidden;
    height: 30px;
}
.admin__block h2:hover {
    cursor: pointer;
}
.admin__block h2 {
    padding: 5px 0;
}


/*Admin wrapper*/
.admin__wrapper {
    display: none;
}


/*Admin sign in*/
.admin__signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: auto;
    background: rgba(0,0,0,0.3);
}
.controll__signIn {
    position: relative;
    border: 3px solid #cfcfcf;
    border-radius: 25px;
    background: url(../img/bgTopMenu.png) no-repeat 50% 50%;
    background-size: cover;
    color: #FFF;
    width: 320px;
    height: 130px;
}
.controll__signIn p {
    margin: 10px 0 10px 25px; 
}
.controll__signIn input {
    margin: 0 0 0 25px;
}
.controll__signIn button {
    position: absolute;
    right: 30px;
    top: 38px;
}





