<div ng-controller='admPageCtrl as admPanel'>
   
    <header class="head admin__head">

        <div class="top">
            <h1>IНФОТЕХ</h1>
        </div>

    </header>

    <div class="admin__signIn">

        <div class="controll__signIn">
            <p>Логін:</p>
            <input type="text" ng-model="admPanel.admLogin">

            <p>Пароль:</p>
            <input type="password" ng-model="admPanel.admPass">

            <button type="button" ng-click="admPanel.admSignIn();"><i class="fa fa-sign-in fa-5x" aria-hidden="true"></i></button>
        </div>

    </div>

    <div class="wrapper admin__wrapper" ng-click="admPanel.showAdmPanel($event);">

        <div class="admin__block">
           
            <h2 class="add__post">Додавання новини <i class="fa fa-plus" aria-hidden="true"></i></h2>
            
            <p>Зоображення</p>
            <input type="file">
            
            <p>Тема</p>
            <textarea rows="3" ng-model="admPanel.demonstr__subject"></textarea>
            
            <p>Категорія</p>
            <select ng-model="admPanel.demonstr__categore">
                <option>Категорія 1</option>
                <option>Категорія 2</option>
                <option>Категорія 3</option>
            </select>
            
            <p>Короткий опис</p>
            <textarea rows="5" ng-model="admPanel.demonstr__shortDescript"></textarea>
            
            <p>Повний опис</p>
            <textarea rows="8" ng-model="admPanel.demonstr__contentPost"></textarea>
            
            <button type="button" ng-click="admPanel.showNewPost();">Demonstrate <i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" ng-click="admPanel.sendNewPost();">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            
            <section class="posts clearfix demonstrate__post" ng-click="admPanel.showNewPost();">
                <img src="/src/img/imagePost1.png" alt="Image post">
                <a href="#">{{admPanel.demonstr__categore}}</a>
                <article class="posts__content">
                    <h3>{{admPanel.demonstr__subject}}</h3>
                    <p class="fonts_content">{{admPanel.demonstr__shortDescript}}</p>
                </article>
                <div class="posts__btnLeft">
                    <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
                </div>
                <div class="posts__btnLeft">
                    <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
                </div>
            </section>
            
        </div>

        <div class="admin__block">
            <h2 class="edit__post">Редагування новини <i class="fa fa-pencil" aria-hidden="true"></i></h2>    
            <input type="text" placeholder="Тема новини" ng-model="admPanel.searchEdit__post">
            <button type="button" ng-click="admPanel.editPost();">Search</button>
        </div>

        <div class="admin__block">
           
            <h2 class="remove__post">Видалення новини <i class="fa fa-trash" aria-hidden="true"></i></h2>
            
            <input type="text" placeholder="Тема новини" ng-model="admPanel.searchRemove__post">
            <button type="button" ng-click="admPanel.removePost();">Search</button>
            
            <section class="posts clearfix demonstrateRemove__post" ng-click="admPanel.showNewPost();">
                <img src="/src/img/imagePost1.png" alt="Image post">
                <a href="#">{{admPanel.demonstrateRemove__post.category}}</a>
                <article class="posts__content">
                    <h3>{{admPanel.demonstrateRemove__post.title_post}}</h3>
                    <p class="fonts_content">{{admPanel.demonstrateRemove__post.short_description}}</p>
                </article>
                <div class="posts__btnLeft">
                    <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
                </div>
                <div class="posts__btnLeft">
                    <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
                </div>
            </section>
            
            <div class="send__remove" ng-click="admPanel.sendRemovePost($event);">
                <p>Видалити цю новину?</p>
                <input type="button" value="Так">
                <input type="button" value="Ні">
            </div>
            
        </div>

    </div>

</div>