<div ng-controller='admPageCtrl as admPanel'>
   
    <header class="head admin__head">

        <div class="top">
            <h1>IНФОТЕХ</h1>
<!--            <h1>{{admPanel.admData.data[0].login_adm}}</h1>-->
        </div>

    </header>

    <div class="admin__signIn">

        <div class="controll__signIn">
            <p>Логін:</p>
            <input type="text" ng-model="admPanel.admLogin">

            <p>Пароль:</p>
            <input type="password" ng-model="admPanel.admPass">

            <button type="button" ng-click="admPanel.admSignIn();"><i class="fa fa-sign-in fa-5x" aria-hidden="true"></i></button>
        </div>

    </div>

    <div class="wrapper admin__wrapper" ng-click="admPanel.showAdmPanel($event);">

        <div class="admin__block">
           
            <h2 class="add__post">Додавання новини <i class="fa fa-plus" aria-hidden="true"></i></h2>
            
            <p>Зоображення</p>
            <input type="file">
            
            <p>Тема</p>
            <textarea rows="3" ng-model="admPanel.demonstr__subject"></textarea>
            
            <p>Категорія</p>
            <select ng-model="admPanel.demonstr__categore">
                <option>Категорія 1</option>
                <option>Категорія 2</option>
                <option>Категорія 3</option>
            </select>
            
            <p>Короткий опис</p>
            <textarea rows="5" ng-model="admPanel.demonstr__shortDescript"></textarea>
            
            <p>Повний опис</p>
            <textarea rows="8" ng-model="admPanel.demonstr__contentPost"></textarea>
            
            <button type="button">Demonstrate <i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" ng-click="admPanel.sendNewPost();">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            
        </div>

        <div class="admin__block">
            <h2 class="edit__post">Редагування новини</h2>
        </div>

        <div class="admin__block">
            <h2 class="remove__post">Видалення новини</h2>
        </div>

    </div>

</div>