<header class="head">

    <div class="top">
        <nav class="navig__menu__left">
            <ul class="fonts_content">
                <li><a href="#!/admin_panel">Меню 1</a></li>
                <li><a href="#!/post">Меню 2</a></li>
                <li><a href="#">Меню 3</a></li>
                <li><a href="#">Меню 4</a></li>
            </ul>
        </nav>

        <h1>IНФОТЕХ</h1>

        <nav class="navig__menu__right">
            <ul class="fonts_content">
                <li><a href="#">Меню 5</a></li>
                <li><a href="#">Мень 6</a></li>
                <li><a href="#">Меню 7</a></li>
                <li><a href="#">Меню 8</a></li>
            </ul>
        </nav>
    </div>

</header>


<div class="small__menu">

    <i class="fa fa-arrow-down fa-2x" aria-hidden="true" id="smallMenuBtn" ng-click="main.showSmallMenu();"></i>

    <nav class="small__menu__nav">
        <ul>
            <li><a href="#">Меню 1</a></li>
            <li><a href="#">Меню 2</a></li>
            <li><a href="#">Меню 3</a></li>
            <li><a href="#">Меню 4</a></li>
        </ul>
    </nav>

    <i class="fa fa-arrow-up fa-2x" aria-hidden="true" id="smallMenuBtnBottom" ng-click="main.hideSmallMenu();"></i>

</div>


<div class="wrapper">
    
    <div class="contact__info">
        <h2>Контактна інформація</h2>
        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde labore itaque tenetur quae reprehenderit possimus illo! Deserunt, tempora, expedita. Qui sapiente cum sequi nemo hic illo cupiditate autem, nam! Nisi.</p>
    </div>
    
    <form action="#">
        <input type="text" placeholder="Ваше імя">
        <input type="text" placeholder="Емайл">
        <input type="text" placeholder="Тематика">
        <input type="text" placeholder="Ваше повідомлення">
        <button type="button">Надіслати <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
    
</div>


<footer class="footer">

    <p>IНФОТЕХ</p>
    <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit error a similique autem distinctio laborum, explicabo qui facere cum incidunt hic.</p>
    <p class="fonts_content"><i class="fa fa-phone" aria-hidden="true"></i>+38 093 692 11 48</p>
    <p class="fonts_content"><i class="fa fa-envelope" aria-hidden="true">tarasbeyda@gmail.com</i></p>

    <div class="footer__links">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-vk" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>

    <div class="demarcation">
        <h3>
            <a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
        </h3>
    </div>

</footer>