<header class="head">
    
    <div class="top">
        <nav class="navig__menu__left">
            <ul class="fonts_content">
                <li><a href="#!/admin_panel">Меню 1</a></li>
                <li><a href="#!/post">Меню 2</a></li>
                <li><a href="#!/contact">Меню 3</a></li>
                <li><a href="#">Меню 4</a></li>
            </ul>
        </nav>
        
        <h1>IНФОТЕХ</h1>

        <nav class="navig__menu__right">
            <ul class="fonts_content">
                <li><a href="#">Меню 5</a></li>
                <li><a href="#">Мень 6</a></li>
                <li><a href="#">Меню 7</a></li>
                <li><a href="#">Меню 8</a></li>
            </ul>
        </nav>
    </div>
     
</header>

<div class="small__menu">
   
    <i class="fa fa-arrow-down fa-2x" aria-hidden="true" id="smallMenuBtn" ng-click="main.showSmallMenu();"></i>
    
    <nav class="small__menu__nav">
        <ul>
            <li><a href="#">Меню 1</a></li>
            <li><a href="#">Меню 2</a></li>
            <li><a href="#">Меню 3</a></li>
            <li><a href="#">Меню 4</a></li>
        </ul>
    </nav>
    
    <i class="fa fa-arrow-up fa-2x" aria-hidden="true" id="smallMenuBtnBottom" ng-click="main.hideSmallMenu();"></i>
    
</div>

<div class="slider">
    <div class="slider_box">
        <nav>
           
            <section ng-repeat="key in main.postSlider.data">
                <img src="/src/img/imagePost1.png" alt="Image post 1">
                <article>
                    <h2>{{key.title_post}}</h2>
                    <p class="fonts_content">{{key.content_post}}</p>
                    <button type="button"><a href="#">ПРОЧИТАТИ <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                </article>
            </section>
            
        </nav>
    </div>
    <div class="nav_slider">
        <div class="left_nav">
            <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
        </div>
        <div class="right_nav">
            <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="wrapper">
   
    <div class="demarcation">
        <h3>
            <a href="#">Новини</a>
        </h3>
    </div>
    
    <div class="latest__posts">
      
        <section class="posts clearfix" ng-repeat="key in paginations">
            <img src="/src/img/imagePost1.png" alt="Image post">
            <a href="#">{{key.category}}</a>
            <article class="posts__content">
                <h3>{{key.title_post}}</h3>
                <p class="fonts_content">{{key.content_post}}</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
        
    </div>

    <ul uib-pagination
        ng-change="pageChanged();"
        ng-model="currentPage"
        items-per-page="itemsPerPage"
        total-items="totalItems"
        max-size="maxSize"
        class="pagination-md"
        boundary-links="true"
        num-pages="numPages">
    </ul>
    
    <!--<div class="navigation__page" ng-click="main.navigationPage($event);">-->
        <!---->
        <!--<div class="navigation__first">-->
            <!--<input type="button" value="Перша">-->
        <!--</div>-->
        <!---->
        <!--<nav class="navigation__buttonPage">-->
            <!--<input type="button" value="1" class="navigation__buttonActive">-->
            <!--<input type="button" value="2">-->
            <!--<input type="button" value="3">-->
            <!--<input type="button" value="4">-->
            <!--<input type="button" value="5">-->
        <!--</nav>-->
        <!---->
        <!--<div class="navigation__latest">-->
            <!--<input type="button" value="Остання">-->
        <!--</div>-->
        <!---->
    <!--</div>-->

    <div class="categories">
       
        <div class="demarcation">
            <h3>
                <a href="#">Категорії</a>
            </h3>
       </div>
       
       <div class="categ__main">

           <figure class="categ__box" ng-repeat="key in main.postSlider.data">
                <img src="/src/img/CategTechnology.png" alt="Categories technology">
                <figcaption class="categ__box__name">
                    <h2>{{key.category}}</h2>
                </figcaption>     
           </figure>
           
       </div>
       
    </div>
    
    <div class="popularNews__posts">
       
        <div class="popular__posts">
           
            <h3>Популярні новини</h3>
            <div class="bound"></div>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
        </div>
        
        <div class="most__commented">
            
            <h3>Найбільш коментованні новини</h3>
            <div class="bound"></div>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
        </div>
        
        <div class="subscribe">
           
            <p>Підписатися та отримувати новини</p>
            <input type="text" placeholder="Ваш емайл">
            <input type="button" value="Підписатися зараз">
            
        </div>
        
    </div>
    
    <footer class="footer">
       
        <p>IНФОТЕХ</p>
        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit error a similique autem distinctio laborum, explicabo qui facere cum incidunt hic.</p>
        <p class="fonts_content"><i class="fa fa-phone" aria-hidden="true"></i>+38 093 692 11 48</p>
        <p class="fonts_content"><i class="fa fa-envelope" aria-hidden="true">tarasbeyda@gmail.com</i></p>
        
        <div class="footer__links">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-vk" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        
        <div class="demarcation">
            <h3>
                <a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
            </h3>
        </div>
        
    </footer>
    
</div>