<header class="head">
    
    <div class="top">
        <nav class="navig__menu__left">
            <ul class="fonts_content">
                <li><a href="#">HOME</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">CATEGORIES</a></li>
                <li><a href="#">ARTICLES</a></li>
            </ul>
        </nav>
        
        <h1>JOURNAL</h1>

        <nav class="navig__menu__right">
            <ul class="fonts_content">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">SUBSCRIBE</a></li>
                <li><a href="#">PURCHASE</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="slider">
        <div class="slider_box">
            <nav>
                <section>
                    <img src="/src/img/imagePost1.png" alt="Image post 1">
                    <article>
                        <h2>Best things to do while traveling</h2>
                        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod odit cum dignissimos, fuga ex suscipit delectus.</p>
                        <button type="button"><a href="#">READ MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                    </article>
                </section>
                <section>
                    <img src="/src/img/imagePost1.png" alt="Image post 1">
                    <article>
                        <h2>Best things to do while traveling</h2>
                        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod odit cum dignissimos, fuga ex suscipit delectus.</p>
                        <button type="button"><a href="#">READ MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                    </article>
                </section>
                <section>
                    <img src="/src/img/imagePost1.png" alt="Image post 1">
                    <article>
                        <h2>Best things to do while traveling</h2>
                        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod odit cum dignissimos, fuga ex suscipit delectus.</p>
                        <button type="button"><a href="#">READ MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                    </article>
                </section>
                <section>
                    <img src="/src/img/imagePost1.png" alt="Image post 1">
                    <article>
                        <h2>Best things to do while traveling</h2>
                        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod odit cum dignissimos, fuga ex suscipit delectus.</p>
                        <button type="button"><a href="#">READ MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                    </article>
                </section>
                <section>
                    <img src="/src/img/imagePost1.png" alt="Image post 1">
                    <article>
                        <h2>Best things to do while traveling</h2>
                        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod odit cum dignissimos, fuga ex suscipit delectus.</p>
                        <button type="button"><a href="#">READ MORE <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></button>
                    </article>
                </section>
                
            </nav>
        </div>
        <div class="nav_slider">
            <div class="left_nav">
                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
            </div>
            <div class="right_nav">
                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
     
</header>

<div class="small__menu">
   
    <i class="fa fa-bars fa-2x" aria-hidden="true" id="btnSmallMenuLeft" ng-click="main.showLeftMenu()"></i>
    
    <nav class="small__menu__left">
        <ul class="fonts_content">
            <li><a href="#">HOME</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CATEGORIES</a></li>
            <li><a href="#">ARTICLES</a></li>
        </ul>
    </nav>
    <nav class="small__menu__right">
        <ul class="fonts_content">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">SUBSCRIBE</a></li>
            <li><a href="#">PURCHASE</a></li>
        </ul>
    </nav>
    
    <i class="fa fa-bars fa-2x" aria-hidden="true" id="btnSmallMenuRight" ng-click="main.showRightMenu()"></i>
    
</div>

<div class="wrapper">
   
    <div class="demarcation">
        <h3>
            <a href="#">LATEST POSTS</a>
        </h3>
    </div>
    
    <div class="latest__posts">
       
        <section class="posts clearfix">
            <img src="/src/img/imagePost1.png" alt="Image post">
            <a href="#">TECHNOLOGY</a>
            <article class="posts__content">
                <h3>Technology is taking over the world</h3>
                <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio suscipit, alias laborum at officiis repellat. Nobis velit reprehenderit assumenda earum...</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
        
        <section class="posts clearfix">
            <img src="/src/img/imagePost2.png" alt="Image post">
            <a href="#">BUSINESS</a>
            <article class="posts__content">
                <h3>10 best business tips for beginners</h3>
                <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis nisi qui, accusantium ullam ipsa expedita sed. Molestiae, iste debitis sunt quis quaerat...</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
        
        <section class="posts clearfix">
            <img src="/src/img/imagePost3.png" alt="Image post">
            <a href="#">TRAVEL</a>
            <article class="posts__content">
                <h3>Best things to do while traveling abroad</h3>
                <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti repellat facere iste qui blanditiis doloremque, consequatur, error magnam possimus accusantium...</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
        
        <section class="posts clearfix">
            <img src="/src/img/imagePost2.png" alt="Image post">
            <a href="#">BUSINESS</a>
            <article class="posts__content">
                <h3>10 best business tips for beginners</h3>
                <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis nisi qui, accusantium ullam ipsa expedita sed. Molestiae, iste debitis sunt quis quaerat...</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
        
    </div>
    
    <div class="categories">
       
        <div class="demarcation">
            <h3>
                <a href="#">CATEGORIES</a>
            </h3>
       </div>
       
       <div class="categ__main">
           <figure class="categ__box">
                <img src="/src/img/CategEntertainment.png" alt="Categories entertainment">
                <figcaption class="categ__box__name">
                    <h2>ENTERTAINMENT</h2>
                </figcaption>     
           </figure>

           <figure class="categ__box">
                <img src="/src/img/CategTravel.png" alt="Categories travel">
                <figcaption class="categ__box__name">
                    <h2>Travel</h2>
                </figcaption>     
           </figure>

           <figure class="categ__box">
                <img src="/src/img/CategTechnology.png" alt="Categories technology">
                <figcaption class="categ__box__name">
                    <h2>Technology</h2>
                </figcaption>     
           </figure>
           
           <figure class="categ__box">
               <img src="/src/img/CategTravel.png" alt="Categories travel">
               <figcaption class="categ__box__name">
                   <h2>Travel</h2>
               </figcaption>     
           </figure>
       </div>
       
    </div>
    
    <div class="popularNews__posts">
       
        <div class="popular__posts">
           
            <h3>POPULAR POSTS</h3>
            <div class="bound"></div>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="popular__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="popular__box__time">
                    <time class="date fonts_content">August 21 2016</time>
                </figcaption>
            </figure>
            
        </div>
        
        <div class="new__articles">
           
            <h3>NEW ARTICLES</h3>
            <div class="bound"></div>
            
            <figure class="new__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="new__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="new__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="new__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="new__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="new__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
        </div>
        
        <div class="most__commented">
            
            <h3>MOST COMMENTED POSTS</h3>
            <div class="bound"></div>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
            <figure class="mostComment__box">
                <p class="fonts_content">Integer consequat leo et purus dignissim bibendum Proin eget est mattis.</p>
                <figcaption class="mostComment__box__time">
                    <time class="date fonts__content">August 21 2016</time>
                </figcaption>
            </figure>
            
        </div>
        
        <div class="subscribe">
           
            <p>SUBSCRIBE AND STAY IN TOUCH</p>
            <input type="text" placeholder="YOUR EMAIL">
            <input type="button" value="SUBSCRIBE NOW">
            
        </div>
        
    </div>
    
    <footer class="footer">
       
        <p>JOURNAl</p>
        <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit error a similique autem distinctio laborum, explicabo qui facere cum incidunt hic.</p>
        <p class="fonts_content"><i class="fa fa-phone" aria-hidden="true"></i>+38 093 692 11 48</p>
        <p class="fonts_content"><i class="fa fa-envelope" aria-hidden="true">tarasbeyda@gmail.com</i></p>
        
        <div class="footer__links">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-vk" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        
        <div class="demarcation">
            <h3>
                <a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
            </h3>
        </div>
        
    </footer>
    
</div>