<header class="head">
    
    <div class="top">
        <nav class="navig__menu__left">
            <ul class="fonts_content">
                <li><a href="#">HOME</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">CATEGORIES</a></li>
                <li><a href="#">ARTICLES</a></li>
            </ul>
        </nav>
        
        <h1>JOURNAL</h1>

        <nav class="navig__menu__right">
            <ul class="fonts_content">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">SUBSCRIBE</a></li>
                <li><a href="#">PURCHASE</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="slider">
        
    </div>
     
</header>

<div class="wrapper">
    
    <div class="latest__posts">
        <section class="posts clearfix">
            <img src="/src/img/imagePost1.png" alt="Image post">
            <a href="#">TECHNOLOGY</a>
            <article class="posts__content">
                <h3>Technology is taking over the world</h3>
                <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio suscipit, alias laborum at officiis repellat. Nobis velit reprehenderit assumenda earum...</p>
            </article>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
            </div>
            <div class="posts__btnLeft">
                <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
            </div>
        </section>
    </div>
    
</div>