<header class="head">

    <div class="top">
        <h1>IНФОТЕХ</h1>
    </div>

</header>

<div class="wrapper">
    
    <section class="post">
       
        <a href="#!/">Категорія 1</a>
        <time class="date fonts_content">August 21 2016</time>
        <h3>Заголовок до певної новини 1</h3>
        
        <article class="post__content">
            <img src="/src/img/imagePost1.png" alt="">
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores sunt quam eveniet impedit veritatis, sed suscipit vero debitis expedita ex totam, deserunt, rem molestiae recusandae quasi iure optio consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quo, aliquam eveniet quae, aperiam asperiores voluptate dolor. Dolores dolore illum tenetur aperiam cumque deleniti cupiditate nisi eos dolorum, velit et.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea adipisci nisi nobis quisquam! Assumenda minus eius rem. Eius vero adipisci nostrum, totam error ad eligendi unde, vel facilis rerum officiis.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem excepturi, esse cumque suscipit dolor magni officia cum sit doloremque nisi molestias debitis reprehenderit ullam nobis inventore, delectus a. Amet, magnam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse tempore sint omnis voluptatem atque, aut quasi id ipsa nisi iusto. Aliquam totam, eum corporis, earum praesentium qui accusamus. Illum, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi labore harum ducimus, sint odio iure reprehenderit provident, itaque, recusandae aspernatur! Deserunt consequatur eius, illo alias dignissimos fugit harum vitae.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quam, corrupti iure sed dignissimos error quibusdam autem odit praesentium provident veritatis nostrum, inventore nihil architecto enim, dolores illum, nam reprehenderit.</p>
        </article>
        <div class="hashtag">
            <span>#тег1</span>
            <span>#тег2</span>
        </div>
        
        <div class="post__comments">
            
        </div>
        
    </section>
    
</div>

<footer class="footer">
    
    
    
</footer>