<header class="head">

    <div class="top">
        <h1>IНФОТЕХ</h1>
    </div>

</header>

<div class="wrapper">
    
    <section class="post">
       
        <a href="#!/">Категорія 1</a>
        <time class="date fonts_content">August 21 2016</time>
        <h3>Заголовок до певної новини 1</h3>
        
        <article class="post__content">
            <img src="/src/img/imagePost1.png" alt="">
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores sunt quam eveniet impedit veritatis, sed suscipit vero debitis expedita ex totam, deserunt, rem molestiae recusandae quasi iure optio consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quo, aliquam eveniet quae, aperiam asperiores voluptate dolor. Dolores dolore illum tenetur aperiam cumque deleniti cupiditate nisi eos dolorum, velit et.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea adipisci nisi nobis quisquam! Assumenda minus eius rem. Eius vero adipisci nostrum, totam error ad eligendi unde, vel facilis rerum officiis.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem excepturi, esse cumque suscipit dolor magni officia cum sit doloremque nisi molestias debitis reprehenderit ullam nobis inventore, delectus a. Amet, magnam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse tempore sint omnis voluptatem atque, aut quasi id ipsa nisi iusto. Aliquam totam, eum corporis, earum praesentium qui accusamus. Illum, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi labore harum ducimus, sint odio iure reprehenderit provident, itaque, recusandae aspernatur! Deserunt consequatur eius, illo alias dignissimos fugit harum vitae.</p>
            <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quam, corrupti iure sed dignissimos error quibusdam autem odit praesentium provident veritatis nostrum, inventore nihil architecto enim, dolores illum, nam reprehenderit.</p>
        </article>
        
        <div class="hashtag">
            <span>#тег1</span>
            <span>#тег2</span>
        </div>
        
    </section>
    
    <div class="post__comments clearfix fonts_content">

        <p class="amount__comments">2 коментарів</p>
        <textarea rows="5" placeholder="Ваш коментар..."></textarea>
        <button type="button">Надіслати <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

        <div class="comments">
            <div>
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo rerum quidem laboriosam, voluptatem itaque autem facere! Dolore ducimus consequatur sapiente neque.</p>
                <time class="date fonts_content">August 21 2016</time>
            </div>        
            <div>
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores nam numquam nostrum harum magni velit deserunt voluptate eveniet, accusamus, reprehenderit quas labore ea repellat atque debitis vitae quos explicabo praesentium.</p>
                <time class="date fonts_content">August 21 2016</time>
            </div>
        </div>

    </div>
    
</div>

<footer class="footer">

    <p>IНФОТЕХ</p>
    <p class="fonts_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit error a similique autem distinctio laborum, explicabo qui facere cum incidunt hic.</p>
    <p class="fonts_content"><i class="fa fa-phone" aria-hidden="true"></i>+38 093 692 11 48</p>
    <p class="fonts_content"><i class="fa fa-envelope" aria-hidden="true">tarasbeyda@gmail.com</i></p>

    <div class="footer__links">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-vk" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>

    <div class="demarcation">
        <h3>
            <a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
        </h3>
    </div>

</footer>