<header class="head">

    <div class="top">
        <nav class="navig__menu__left">
            <ul class="fonts_content">
                <li><a href="#!/news">НОВИНИ</a></li>
                <li><a href="#!/reviews">ОГЛЯДИ</a></li>
            </ul>
        </nav>

        <h1 ng-click="home();">IНФОТЕХ</h1>

        <nav class="navig__menu__right">
            <ul class="fonts_content">
                <li><a href="#!/articles">СТАТТІ</a></li>
                <li><a href="#!/blogs">БЛОГ</a></li>
            </ul>
        </nav>
    </div>

</header>

<div class="small__menu">

    <i class="fa fa-arrow-down fa-2x" aria-hidden="true" id="smallMenuBtn" ng-click="main.showSmallMenu();"></i>

    <nav class="small__menu__nav">
        <ul>
            <li><a href="#!/news">НОВИНИ</a></li>
            <li><a href="#!/reviews">ОГЛЯД</a></li>
            <li><a href="#!/articles">СТАТТІ</a></li>
            <li><a href="#!/blogs">БЛОГ</a></li>
        </ul>
    </nav>

    <i class="fa fa-arrow-up fa-2x" aria-hidden="true" id="smallMenuBtnBottom" ng-click="main.hideSmallMenu();"></i>

</div>

<div class="wrapper">

    <div class="search">
        <div id="custom-search-input">
            <div class="input-group col-xs-offset-1 col-xs-10">
                <input type="text" ng-model="inputSearch" class="  search-query form-control" placeholder="Введіть назву статті.." />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" ng-click="search();">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <img src="/src/img/Results.png" class="search__image">
            </div>
        </div>
    </div>

    <div class="search-result">
        <!--<img src="/src/img/Results.png" class="search__image">-->

        <div class="latest__posts">

            <section class="posts clearfix" ng-repeat="key in searchResult">
                <img src="/src/img/imagePost1.png" alt="Image post">
                <a href="#">{{key.category}}</a>
                <article class="posts__content">
                    <h3 ng-click="selectPostTitle(key.title_post);" ng-model="searchPostTitle">{{key.title_post}}</h3>
                    <p class="fonts_content">{{key.short_description}}</p>
                </article>
                <div class="container__posts__btn">
                    <div class="posts__btnLeft">
                        <a href="#"><img src="/src/img/bubble.svg" alt="comments"></a>
                    </div>
                    <div class="posts__btnLeft" ng-click="selectPostTitle()">
                        <a href="#"><img src="/src/img/Arrow_Right.svg" alt="arrow right"></a>
                    </div>
                </div>
            </section>

        </div>

    </div>

</div>

<footer class="footer">

    <p>IНФОТЕХ</p>
    <p class="fonts_content">Найсвіжіші новини в світі інформаційних технологій.
        <br> Всі права захищені!
        <br> Дозволяється використовувати матеріали з сайту
        <br> за умов прямого гіперпосилання на даний сайт</p>
    <p class="fonts_content"><i class="fa fa-phone" aria-hidden="true"></i>+38 093 692 11 48</p>
    <p class="fonts_content"><i class="fa fa-envelope" aria-hidden="true"></i>tarasbeyda@gmail.com</p>

    <div class="footer__links">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-vk" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>

    <div class="demarcation">
        <h3>
            <a ng-click="scrollTop();" href="javascript:;"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
        </h3>
    </div>

</footer>